
<div class="main_header single">
    <h1>{{i18n "Contact"}}</h1>
</div>
<div class="content-section accent-color-background-reverse half-sections-list">
  <ul>
    <li class="info_box">
      <div class="info_box__content">
        <h3> <i class="fa fa-twitter"></i> <span>@p0ns</span></h3>
        <p>
          <a href="//twitter.com/p0ns">http://twitter.com/pons</a>*
        </p>
        <p><small>* Response times may vary.</small></p>
      </div>
    </li>
    <li class="info_box">
      <h3><i class="fa fa-envelope"></i> <span>...or via email</span></h3>
      <p>
        <a href="mailto:p0ns@chauchavault.com">p0ns@chauchavault.com</a>*
      </p>
      <p><small>* Please consider the environment before printing your e-mails.</small></p>
    </li>
  </ul>
</div>
