body.liver-remix {
  font-family: 'Helvetica Neue', 'Helvetica', 'Calibri', sans;
}

a {
  color: #10533e;
}

a:hover {
  color: #10533e;
  text-decoration: underline;
}

/*cherry*/
.accent-color {
  color: #E94F37;
}
.accent-color-background {
  background-color: #E94F37;
  color: white;
}
.neutral-color-background {
  background-color: #F6F7EB;
}
/*blue*/
.shade-background {
  background-color: #3F88C5;
  color: white;
}

.liver-remix .btn {
  font-family: "Comfortaa","Teko", "Titillium Web", Helvetica Neue, Helvetica, Arial, sans-serif;
  border: none;
  box-shadow: 0 0 1px rgba(0,0,0,.3) inset;
  text-shadow: -1px -1px 0px (0,0,0,.5);
}

.btn-lg {
  padding: 15px 45px;
}

.btn-default {
  background: white;
}

.btn-primary {
  background-color: #2AE4A9;
  color: white;
}
.btn-primary:hover {
  background-color: #E94F37;
}


#navbar {
  overflow: hidden;
  font-family: 'Titillium Web';
}
.nav>li {
  margin-right: -10px;
}
.navbar-default .navbar-nav>li>a {
  font-family: "Comfortaa","Teko", "Titillium Web", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: none;
  color: #333;
}

.hero-welcome h1 {
  letter-spacing: 0px;
  color: #444;
  text-shadow: 0 0 1px 0 black;
  font-family: 'Press Start 2P', cursive;
}

.hero-welcome .btn {
  margin: 0 30px;
}

.hero-welcome h3, .hero-welcome h1 small {
  display: block;
  font-family: 'Titillium Web';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: #999;
  letter-spacing: 1px;
  font-weight: normal;
}

.hero-welcome h1 small {
  margin-bottom: 15px;
}

.hero-logo img {
  max-width: 240px;
  height: auto;
  margin: 15px auto 45px;
}

.home-section {
  padding: 50px 0;
  font-size: 15px;
  line-height: 175%;
  letter-spacing: 0.5px;
}

.info_box {
  margin-top: 30px;
  margin-bottom: 30px;
}

.home-section h3 {
  margin-bottom: 20px;
}

.home-section p {
  padding: 0;
}

.home-section.shade-background {
}

.home-section.shade-background a,
.home-section.accent-color-background a {
  color: white;
  text-decoration: underline;
  font-weight: 900;
}

.action-buttons {
  margin-top: 60px;
  margin-bottom: 60px;
}

.half-sections-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
}
.half-sections-list ul li {
  align-items: center;
  flex: 0 0 50%;
  padding: 25px 100px;
}

.half-sections-list ul li small {
  font-size: 9px;
  line-height: 13px;
  display: block;
  color: rgba(0,0,0,.66);
  font-weight: 900;
  font-style: italic;
  letter-spacing: normal;
}

@media all and (max-width: 990px) {
  .half-sections-list ul li {
    flex: 100%;
    padding: 25px;
  }
}

.half-sections-list ul li h3 {
  font-size: 26px;
  overflow: hidden;
}

.half-sections-list ul li h3 .fa {
  font-size: 42px;
  margin-bottom: 30px;
  display: block;
}
.half-sections-list ul li h3 span {
  overflow: hidden;
}

.full-screen-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.full-screen-content {
  max-width: 900px;
  margin: 0 auto;
}

.full-screen-section blockquote {
  border: none;
  padding: 0;
  font-family: "Comfortaa","Teko", "Titillium Web", Helvetica Neue, Helvetica, sans;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 145%;
}

.full-screen-section blockquote footer {
  margin-top: 30px;
}

.footer {
  background-color: #393E41;
}
