body.liver-remix {
  font-family: 'Helvetica Neue', 'Helvetica', 'Calibri', sans;
  margin-bottom: 0;
  overflow-x: hidden;
}

a {
  color: #10533e;
}

a:hover {
  color: #10533e;
  text-decoration: underline;
}

/*cherry*/
.accent-color {
  color: #E94F37;
}
.accent-color-background {
  background-color: #E94F37;
  color: white;
}
.neutral-color-background {
  background-color: #F6F7EB;
}
/*blue*/
.shade-background {
  background-color: #3F88C5;
  color: white;
}

.liver-remix .btn {
  font-family: "Comfortaa","Teko", "Titillium Web", Helvetica Neue, Helvetica, Arial, sans-serif;
  border: none;
  box-shadow: 0 0 1px rgba(0,0,0,.3) inset;
  text-shadow: -1px -1px 0px (0,0,0,.5);
}

.btn-lg {
  padding: 15px 45px;
}

.btn-default {
  background: white;
}

.btn-primary {
  background-color: #2AE4A9;
  color: white;
}
.btn-primary:hover {
  background-color: #E94F37;
}


#navbar {
  overflow: hidden;
  font-family: 'Titillium Web';
}
.nav>li {
  margin-right: -10px;
}
.navbar-default .navbar-nav>li>a {
  font-family: "Comfortaa","Teko", "Titillium Web", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: none;
  color: #333;
}

.navbar-brand {
  margin-right: -10px;
}
.navbar-default .navbar-brand:hover {
  background-color: #444;
}

.hero-welcome h1 {
  letter-spacing: 0px;
  color: #444;
  text-shadow: 0 0 1px 0 black;
  font-family: 'Press Start 2P', cursive;
}

@media all and (max-width: 990px) {
  .hero-welcome h1 {
    font-size: 24px;
  }
}

.hero-welcome .btn {
  margin: 15px 30px;
}

.hero-welcome h3, .hero-welcome h1 small {
  display: block;
  font-family: 'Titillium Web';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: #999;
  letter-spacing: 1px;
  font-weight: normal;
}

.hero-welcome h1 small {
  margin-bottom: 15px;
}

.hero-logo img {
  max-width: 240px;
  height: auto;
  margin: 15px auto 45px;
}

.content-section {
  font-size: 15px;
  line-height: 175%;
  letter-spacing: 0.5px;
}

.content-section p {
  padding: 0;
  line-height: 175%;
  letter-spacing: -.25px;
}

.content-section h3 {
  margin-bottom: 20px;
}

.content-section p {
  padding: 0;
}

.content-section.shade-background {
}

.content-section.shade-background a,
.content-section.accent-color-background a {
  color: white;
  text-decoration: underline;
  font-weight: 900;
}

.content-section.neutral-color-background a {
  color: #e94F37;
}

.action-buttons {
  margin-top: 60px;
  margin-bottom: 60px;
}

.half-sections-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
}
.half-sections-list ul li {
  align-items: center;
  flex: 0 0 50%;
  padding: 75px 100px;
  position: relative;
  border-right: 1px solid #E0E1D6;
  border-bottom: 1px solid #E0E1D6;
}

.shade-background.half-sections-list li {
  border-right: 1px solid #73A8D4;
  border-bottom: 1px solid #73A8D4;
}

.half-sections-list ul li small {
  font-size: 9px;
  line-height: 13px;
  display: block;
  color: rgba(0,0,0,.66);
  font-weight: 900;
  font-style: italic;
  letter-spacing: normal;
}

@media all and (max-width: 990px) {
  .half-sections-list ul li {
    flex: 100%;
    padding: 25px;
  }
}

.half-sections-list ul li h3 {
  font-size: 26px;
  overflow: hidden;
}

.half-sections-list ul li h3 .fa {
  font-size: 42px;
  margin-bottom: 30px;
  display: block;
}
.half-sections-list ul li h3 span {
  overflow: hidden;
}

.full-screen-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.full-screen-content {
  max-width: 900px;
  margin: 0 auto;
}

.full-screen-section blockquote {
  border: none;
  padding: 0 15px;
  font-family: "Comfortaa","Teko", "Titillium Web", Helvetica Neue, Helvetica, sans;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 145%;
}

@media all and (max-width: 990px) {
  .full-screen-section blockquote {
    font-size: 21px;
  }
}

.full-screen-section blockquote footer {
  margin-top: 30px;
}

.footer {
  background-color: #393E41;
  margin: 0;
  padding: 60px 0;
  position: static;
  height: auto;
  border: none;
}

.footer a {
  color: white;
  text-decoration: underline;
}

.footer .navbar-brand {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
  height: auto;
}

.footer .navbar-brand img {
  width: 50px;
  height: auto;
}

.footer .footer-left__brand span,
.footer .footer-left__brand small {
  display: block;
}

.footer .footer-left__brand span {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  margin: 15px 0 0;
}

.footer .footer-left__brand-text small {
  text-transform: lowercase;
  font-size: 9px;
  letter-spacing: normal;
  letter-spacing: 1px;
}

@media all and (min-width: 990px) {
  .footer .footer-left {
    text-align: right;
  }
}
